@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank You!</h1>
    <p>Your submission was received. Press the button below to return home.</p>\
  <b><a href="Index.cshtml">Return</a></b>
</div>
